body {
  background: #02141C;
  font-family: "Open Sans";
  font-size: 16px;
}
.date {
  color: white;
}
.date-type {
  font-size: 7em;
  font-weight: 800;
  margin-bottom: 0;
  text-align: center;
}

@media screen and (max-width: 400px) {
  .date-type {
    font-size: 1em;
  }
}
